@import 'palette';

$options: (
  primary: #124356,
  gray: #555
);

$palette: palette($options);
@debug $palette;

%color-container {
  @include flex(1);
}

.default {
  @include display(flex);
  height: 50px;
  .primary {
    background: nested-map-get($palette, base primary);
    @extend %color-container;
  }
  .secondary {
    background: nested-map-get($palette, base secondary);
    @extend %color-container;
  }
  .tertiary {
    background: nested-map-get($palette, base tertiary);
    @extend %color-container;
  }
  .accent {
    background: nested-map-get($palette, base accent);
    @extend %color-container;
  }
  .grays {
    background: nested-map-get($palette, base grays mid);
    @extend %color-container;
  }
}
